<!-- About Content -->
<div class="row extra-padding-top">
  <div class="small-12 medium-10 columns">
    <h4>About Me</h4>
    <p>Hi. I'm Martin Nash. I used to live in Japan, now I live in Seattle. I used to work for a Seattle startup, now I work for a big Bay-Area company. I used to teach English, now I teach Mac and iOS development. I tweet here <a href="https://twitter.com/martinjnash">@MartinJNash</a>.</p>
    <p>I'm currently taking the UW's Ruby on Rails certificate program, and made this site in Rails!</p>
  </div>

  <div class="small-12 medium-2 columns">
    <a class="th" href="#">
      <%= image_tag "martin_nash.jpg" %>
    </a>
  </div>

</div><!-- End Content -->
