<!-- BLOG FEED -->
<div class="row extra-padding-top">
  <div class="small-12 columns">
    <h4>Recent Blog Posts</h4>
    <ul class="small-block-grid-2 medium-block-grid-3">
      <% Post.published.limit(3).each do |post| %>
        <li>
          <div class="panel">
            <h5><a href="<%= post_path(post) %>"><%= post.title %></a></h5>
            <h6 class="subheader">
              <%= post.body.truncate(50, separator: ' ') %>
            </h6>
            <h6><a href="#">Read More »</a></h6>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div><!-- End Feed -->
