<h1>Welcome to my portfolio</h1>

<p>I'm Martin Nash, a mobile and web app developer based in Seattle.</p>

<p>Contact me about the following technologies:</p>

<ul>
  <li>iPhone</li>
  <li>OS X</li>
  <li>Ruby</li>
  <li>Rails</li>
</ul>

