  <% content_for :title, "About | Martin Nash" %>




<!-- About Content -->
<div class="row extra-padding-top">

  <!-- MAIN CONTENT -->
  <div class="small-12 medium-10 columns">
    <h4>About Me</h4>
    <p>Hi. I'm Martin Nash I live in Seattle, work for a Bay-Area company, make Mac and iOS apps, and even teach how to do that stuff.</p>
    <p>I'm currently taking the UW's Ruby on Rails certificate program, and made this site in Rails!</p>
  </div>

  <div class="small-12 medium-2 columns">
    <a class="th" href="#">
      <%= image_tag "martin_nash.jpg" %>
    </a>
  </div>

</div><!-- End Content -->


<!-- BLOG FEED -->
<div class="row extra-padding-top">
  <div class="small-12 columns">
    <h4>Recent Blog Posts</h4>
    <ul class="small-block-grid-2 medium-block-grid-3">
      <% Post.limit(3).each do |post| %>
        <li>
          <div class="panel">
            <h5><a href="<%= post_path(post) %>"><%= post.title %></a></h5>
            <h6 class="subheader">
              <%= post.body.truncate(50) %>
            </h6>
            <h6><a href="#">Read More »</a></h6>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div><!-- End Feed -->


