<div class="row">
  <div class="columns large-12">


    <section id="projects">
      <%= render @projects %>
    </section>

    <% if policy(Project).create? %>
      <div id='new_project_creation_area'>
        <%= link_to "New Project", new_project_path, id: 'new_link', remote: true %>
      </div>
    <% end %>


  </div>
</div>

