<div class="row">
  <div class="columns">

    <%= render @project %>


    <hr>

    <% if policy(Comment).create? %>
      <%= render 'comments/commentable_comment_fields', commentable: @project %>
    <% end %>

  </div>
</div>

