<% content_for :boinkers do %>
  <h1>This is totally boinkers, dude!</h1>
<% end %>


<div class="row extra-padding-top">

  <div class="small-12 columns">
    <h1>Posts</h1>
    <% @posts.each do |post| %>
      <%= render partial: 'individual_post', locals: {post: post} %>
    <% end %>
  </div>
</div>



<div class="row extra-padding-top">
  <div class="small-12 columns">
    <%= link_to 'New Post', new_post_path %>
  </div>
</div>

