
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1><a href="#">Martin J Nash</a></h1>
        </li>
      </ul>

      <!-- Right Nav Section -->
      <div class="small-12">
        <section class="top-bar-section">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/posts">Blog</a></li>
          </ul>
        </section>
      </div>
    </nav>
