<div class="row">
  <div class="columns small-12">    

    <% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    
    <% else %>
      <h5><%= link_to "Create account", new_user_registration_path %></h5>
      <h5><%= link_to "Sign in", new_user_session_path %></h5>
      <h5><%= link_to "Sign in with Twitter", omniauth_authorize_path(:user, :twitter ) %><br /></h5>
    
    <% end %>

  </div>
</div>
